<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Soccer Leagues, Schedules | Break Away Sports Center</title>
    <meta name="description" content="Break Away Sports Center, Madison, provides soccer leagues throughout the year."/>
    <meta name="keywords" content="soccer leagues, Madison WI soccer tournaments, soccer classes"/>
    <meta name="language" content="en"/>
    <link rel="shortcut icon" href="http://breakawaysports.com//favicon.ico"/>
    <link href="http://breakawaysports.com/css/global.css" rel="stylesheet" type="text/css"/>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/nav.js"></script> -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25677973-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div id="pagewidth">
    <div id="header">
        <div class="top-button">
            <ul>
                <li><a href="http://breakawaysports.com/players/" class="light">Login/Consent Form</a></li>
                <li><a href="http://breakawaysports.com/current-league.php">Current League Schedule</a></li>
                <li><a href="http://breakawaysports.com/subscribe.php">Subscribe for Email Updates</a></li>
                <li><a href="http://breakawaysports.com/contact.php">Contact Us</a></li>
            </ul>


        </div>
        <h1><a href="/">Break Away<span></span></a></h1>
        <div class="block-rotate">
            <div class="description">
                <big>(608) 288.9600</big>
                5964 Executive Dr.<br/>
                Madison, WI<br/>
                <a href="directions.php">Get Directions</a>
            </div>
            <img src="images/header/5.jpg" alt=""/>

            <div class="shadow"></div>
        </div>
        <ul class="pink-list">
            <li class="first"><a href="#"><span>Youth</span></a>
                <ul class="editable" id="untitled-region-2">
                    <li><a href="youth-dates.php">Youth League Dates/Days/Fees</a></li>
                    <li><a href="youth-description.php">Youth Division Description</a></li>
                    <li><a href="independent.php">Independent Players</a></li>
                    <li><a href="youth-classes.php">Youth Classes (2-8 years)</a></li>
                    <li><a href="youth-training.php">Youth Training Program - STEP (grades 3-6)</a></li>
                    <li><a href="private-soccer-lessons.php">Private Lessons</a></li>
                    <li><a href="tournaments.php">Tournaments &amp; Scrambles</a></li>
                    <li><a href="open-play.php#youth">Youth Open Play</a></li>
                </ul>
            </li>
            <li><a href="#"><span>High School</span></a>
                <ul class="editable" id="untitled-region-3">
                    <li><a href="high-school-dates.php">HS League Dates/Days/Fees</a></li>
                    <li><a href="high-school-description.php">HS Division Description</a></li>
                    <li><a href="independent.php">Independent Players</a></li>
                    <li><a href="youth-training.php">Youth Training STEP</a></li>
                    <li><a href="tournaments.php">Tournaments &amp; Scrambles</a></li>
                    <li><a href="open-play.php#youth">H.S. Open Play</a></li>
                </ul>
            </li>
            <li class="last"><a href="#"><span>Adult</span></a>
                <ul class="editable" id="untitled-region-4">
                    <li><a href="adult-description.php">Adult League Descriptions</a></li>
                    <li><a href="adult-dates.php">Adult Leagues Dates/Days/Fees</a></li>
                    <li><a href="adult-leagues-summer.php">Adult Leagues - Summer</a></li>
                    <li><a href="independent.php">Independent Players</a></li>
                    <li><a href="adult-programs.php">Adult Instructional</a></li>
                    <li><a href="open-play.php#lunch">Lunch Brunch Open Play </a></li>
                    <li><a href="open-play.php#forty">Over 40 Open Play </a></li>
                </ul>
            </li>
        </ul>
        <div id="curve"></div>
        <!-- /header -->
    </div>
    <div id="wrapper" class="clearfix">
        <div id="bg-wrapper" class="clearfix">
            <div id="leftcol">

                <div id="untitled-region-1">
                    <ul id="nav" class="editable">
                        <li><a href="Fall Schedules/COED-SOC 20 teams SCHEDULE Fall-17 PDF.pdf" target="_blank"
                               rel="noopener noreferrer">About Us</a>
                            <ul>
                                <li><a href="about-us.php">About Us</a></li>
                                <li><a href="indoor-soccer.php">Indoor Soccer Facility</a></li>
                                <li><a href="quality-staff.php">Quality Staff</a></li>
                                <li><a href="directions.php">Directions</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Leagues</a><br>
                            <ul>
                                <li><a href="#">Adult Leagues Fall Winter Spring</a>
                                    <ul>
                                        <li><a href="adult-dates.php">Adult Leagues Dates/Days/Fees</a></li>
                                        <li><a href="adult-description.php">Adult Leagues Description</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Youth Leagues (1-8 grades)</a>
                                    <ul>
                                        <li><a href="youth-dates.php">Youth Dates/Days/Fees</a></li>
                                        <li><a href="youth-description.php">Youth Division Description</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">High School Leagues</a>
                                    <ul>
                                        <li><a href="high-school-dates.php">High School Dates/Days/Fees</a></li>
                                        <li><a href="high-school-description.php">High School Division Description</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="independent.php">Independent Players</a></li>
                                <li><a href="adult-leagues-summer.php">Adult Leagues - Summer</a></li>
                                <li><a href="current-league.php">Current League Schedules</a></li>
                                <li><a href="team-savings.php">Team Savings</a></li>
                                <li><a href="policies-forms.php">Policies &amp; Forms</a></li>
                                <li><a href="registration.php">League Registration</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Classes &amp; Trainings</a>
                            <ul>
                                <li><a href="youth-classes.php">Youth Classes (2-10 years)</a></li>
                                <li><a href="youth-training.php">Youth Training Program - STEP (grades 3-6)</a></li>
                                <li><a href="#">Camps &amp; Tryout Workshops</a>
                                    <ul>
                                        <li><a href="camps.php">Camps</a></li>
                                        <li><a href="workshop.php">Tryout Workshop</a></li>
                                    </ul>
                                </li>
                                <li><a href="private-soccer-lessons.php">Private Lessons</a></li>
                                <li><a href="adult-programs.php">Adult Instructional Programs</a></li>
                                <li><a href="registration-classes.php">Instructional Registrations</a></li>
                            </ul>
                        </li>
                        <li><a href="tournaments.php">Tournaments &amp; Scrambles</a></li>
                        <li><a href="group-rentals.php">Group Rentals &amp; Parties</a></li>
                        <li><a href="open-play.php">Youth &amp; Adult Open Play</a></li>
                        <li><a href="players/users/sign_in">Consent Form</a></li>
                        <li><a href="helpful-links.php">Helpful Links</a></li>
                        <li><a href="contact.php">Contact Us</a></li>
                        <li><a href="subscribe.php">Subscribe</a></li>
                        <li><a href="http://breakawaysports.com/">Home</a></li>
                    </ul>


                </div> <!-- /cms-navigation -->
            </div>
            <div id="maincol" class="editable"><h1>Current League Schedules.</h1>
                <p>&nbsp;</p>
                <h2 class="clear">See special offers from our sponsors!</h2>
                <ul class="sponsor-list">
                    <li class="repeatable"><a href="https://www.culvers.com/restaurants/verona"><img
                            src="images/culvers.jpg" alt="" width="90" height="90"></a></li>
                    <li class="repeatable"><a href="https://nomadworldpub.com/madison/" target="_blank"
                                              rel="noopener noreferrer"><img src="images/nomad_logo_MKE_MSN.png" alt=""
                                                                             width="288" height="288"></a></li>
                    <li id="e17de1" class="cms-repeat cms-previous-repeat-item-id-e17a2b" style="opacity: 1;" title="">
                        <a id="ea4d33" title="Little Caesars Pizza"
                           href="http://www.littlecaesars.com/MobileLocations/tabid/483/Default.aspx?id=MTQwNDAwMDY%3d&amp;location=Verona%2c+WI"><img
                                id="e24421"
                                src="cms-assets/zoom-cropped-images/166090_0_ea4d3327b3a5.jpg?rand=0.1883575227111578"
                                alt="Culvers, Madison Break Away Sports sponsor"></a></li>
                    <li id="e27d7f" class="cms-repeat cms-previous-repeat-item-id-logo3"><a id="e2f9e6"
                                                                                            title="Sitka Salmon shares"
                                                                                            href="http://sitkasalmonshares.com/"><img
                            id="e5e200"
                            src="cms-assets/zoom-cropped-images/166090_0_e2f9e67ffdbb.jpg?rand=0.5864439841205107"
                            alt="Culvers, Madison Break Away Sports sponsor"></a></li>
                    <li><a id="logo5a" title="Infinite Athlete" href="https://infiniteathlete.clinic/"><img id="edb1f0"
                                                                                                            src="cms-assets/images/676868.infinite-logo-png.png?rand=0.320512804688472"
                                                                                                            alt="Gatorade 2, G2, Madison Break Away Sports sponsor"></a>
                    </li>
                </ul>
                <h4><strong>Stop by the front desk to pick up Special offers from our sponsors</strong></h4>
                <div data-embed="true">
                    <iframe scrolling="no" src="/calendar/picker" width="100%" height="100" frameborder="1"></iframe>
                </div>
                <p>&nbsp;Beta Schedules are for limited Adult teams.&nbsp; Due to format issues, Over 50 will not
                    function at this time.&nbsp; All other Adult leagues are available: Men's, Coed (indoor and
                    outdoor), Women's Over 30 and Men's Over 40</p>
                <p>&nbsp;</p>
                <p><em>Click league below for viewing or to print schedule. These are all pdf links to printable
                    schedules.</em><strong>&nbsp;</strong></p>
                <p><em>In general the next session's schedules will be posted during the first week of the session. Team
                    Managers will be notified of first game 1 week prior to the start of the League</em></p>
                <p><strong>Current League Schedules</strong></p>
                <table style="width: 670.95px;" border="0">
                    <tbody>
                    <tr>
                        <td class="txtc" style="width: 141px;"><span style="font-size: xx-large;"><strong>Youth</strong></span>
                        </td>
                        <td class="txtc" style="width: 178px;"><span
                                style="font-size: xx-large;"><strong>High School</strong></span></td>
                        <td class="txtc" style="width: 233.95px;"><span
                                style="font-family: Arial; font-size: xx-large;"><strong>Adult &nbsp;Soccer</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;">
                            <p>&nbsp;</p>
                            <p><span style="font-size: x-large;"><strong>U-6/7</strong><strong><br></strong></span></p>
                        </td>
                        <td class="txtl" style="width: 178px; text-align: center;">
                            <p><span style="font-size: x-large;"><strong>&nbsp;&nbsp;&nbsp;&nbsp; </strong></span></p>
                            <p><span style="font-size: x-large;"><strong>U16 Boys&nbsp;&nbsp; &nbsp; </strong></span>
                            </p>
                            <p>&nbsp;</p>
                        </td>
                        <td class="txtl" style="width: 233.95px;">
                            <h5 style="text-align: center;"><span
                                    style="font-family: Arial; font-size: x-large;"><strong>&nbsp;</strong>Adult Coed Social</span>
                            </h5>
                            <p style="text-align: center;"><span style="font-size: x-large;"><a
                                    href="W3%20Schedules - Adult/W3 2019 ACoedSocial.pdf" target="_blank"
                                    rel="noopener noreferrer"><strong><span style="font-family: Arial;">Winter 3</span></strong></a></span>
                            </p>
                            <h6><span style="font-family: Arial; font-size: x-small;">&nbsp; </span></h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;"><span style="font-size: x-large;"><strong>U-7/8 <a
                                href="W3%20Schedules - Youth/W3 2019 U8.pdf" target="_blank" rel="noopener noreferrer">W3</a></strong></span>
                        </td>
                        <td class="txtl" style="width: 178px; text-align: center;">
                            <p><span style="font-size: x-large;"><strong>&nbsp;U18 Boys&nbsp; <a
                                    href="W3%20Schedules - Youth/W3 2019 U 18.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a><br></strong></span></p>
                            <p>&nbsp;</p>
                        </td>
                        <td class="txtl" style="width: 233.95px;">
                            <h5><span style="font-family: Arial; font-size: x-large;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Women</strong>'s Rec&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; <br></span>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;">
                            <p><span style="font-size: x-large;"><strong>U-9/10&nbsp;&nbsp;</strong></span></p>
                            <p><span style="font-size: x-large;"><strong>Mixed <a
                                    href="W3%20Schedules - Youth/W3 2019 U 10.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a></strong></span></p>
                            <p><span style="font-size: x-large;"><strong><span
                                    style="color: #eb0707;"><code></code></span></strong></span></p>
                            <p><span style="font-size: x-large;"><strong><span
                                    style="color: #eb0707;"><code></code></span></strong></span></p>
                            <p><span style="font-size: x-large;"><strong><span style="color: #eb0707;"><code><br></code></span><span
                                    style="color: #eb0707;"><code> </code></span></strong></span></p>
                        </td>
                        <td style="width: 178px; text-align: center;">
                            <p><span style="font-size: x-large;"><strong>&nbsp;HS Girls B&nbsp; <a
                                    href="W3%20Schedules - Youth/W3 2019 Girls HS B.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a><br></strong></span></p>
                            <p>&nbsp;</p>
                        </td>
                        <td class="txtl" style="width: 233.95px;">
                            <h5 style="text-align: center;"><span style="font-family: Arial; font-size: x-large;"><span
                                    style="color: #eb1515;"><strong><strong><strong>Wom</strong></strong></strong>en's</span> Over 30&nbsp;</span>
                            </h5>
                            <h5 style="text-align: center;"><span style="font-family: Arial; font-size: x-large;"><a
                                    href="W3%20Schedules - Adult/W3 2019 Women O 30.pdf" target="_blank"
                                    rel="noopener noreferrer"> Winter 3</a> &nbsp; <br></span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;">
                            <p><span style="font-size: x-large;"><strong>U10/11 </strong></span></p>
                            <p><span
                                    style="font-size: x-large;"><strong>Mixed&nbsp; </strong><strong><br></strong></span>
                            </p>
                        </td>
                        <td style="width: 178px; text-align: center;">
                            <p><span style="font-size: x-large;"><strong>&nbsp;HS Girls A&nbsp; <a
                                    href="W3%20Schedules - Youth/W3 2019 HS Skilled.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a><br></strong></span></p>
                            <p><span style="font-size: x-large;"><strong>&nbsp; </strong></span></p>
                        </td>
                        <td class="txtl" style="width: 233.95px; text-align: center;">
                            <p><span style="font-size: x-large; color: #d10f0f;"><code></code></span><span
                                    style="font-family: Arial; font-size: x-large;"><span
                                    style="font-family: Arial; font-size: x-large;"><strong><span
                                    style="color: #de2424;"> Women's</span> Over 40 &nbsp;</strong></span></span></p>
                            <p><span style="font-size: x-large;"><a href="W3%20Schedules - Adult/W3 2019 Women O 40.pdf"
                                                                    target="_blank" rel="noopener noreferrer"><span
                                    style="font-family: Arial;"><span
                                    style="font-family: Arial;"><strong>Winter 3</strong></span></span></a><span
                                    style="font-family: Arial;"> &nbsp;&nbsp;&nbsp;&nbsp;<strong> <br></strong></span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;">
                            <p><span style="font-size: x-large;"><strong>U-11/12 &nbsp; &nbsp;</strong></span></p>
                            <p><span style="font-size: x-large;"><strong>Mixed <a
                                    href="W3%20Schedules - Youth/W3 2019 U 12.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a></strong></span></p>
                            <p><span style="font-size: x-large;"><strong><span
                                    style="color: #eb0707;"><code>Girls</code></span> <a
                                    href="W3%20Schedules - Youth/W3 2019 U 12 girls.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a></strong></span></p>
                        </td>
                        <td style="width: 178px;">
                            <p style="text-align: center;"><span style="font-size: x-large;"><strong>&nbsp;&nbsp;HS Coed&nbsp;&nbsp;&nbsp; <br></strong></span>
                            </p>
                            <p style="text-align: center;">&nbsp;</p>
                        </td>
                        <td class="txtl" style="width: 233.95px; text-align: center;">
                            <p><span style="font-family: Arial; font-size: x-large;"><span
                                    style="font-family: Arial; font-size: x-large;"><span
                                    style="font-family: Arial; font-size: x-large;"><strong>&nbsp; Men's Rec &nbsp; </strong></span></span></span>
                            </p>
                            <p><span style="font-size: x-large;"><a href="W3%20Schedules - Adult/W3 2019 Men Rec.pdf"
                                                                    target="_blank"
                                                                    rel="noopener noreferrer"><strong><span
                                    style="font-family: Arial;"><span style="font-family: Arial;"><span
                                    style="font-family: Arial;">Winter 3 </span></span></span></strong></a></span></p>
                            <h5><span style="font-family: Arial; font-size: x-large;">&nbsp;</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;">
                            <p><span style="font-size: x-large;"><strong>U13/14 &nbsp; &nbsp; </strong></span></p>
                            <p><span style="font-size: x-large;"><strong>Mixed&nbsp; <a
                                    href="W3%20Schedules - Youth/W3 2019 U14.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a></strong></span></p>
                            <p><span style="font-size: x-large;"><strong><span
                                    style="color: #eb0707;"><code></code></span></strong></span></p>
                            <p><span style="font-size: x-large;"><strong><span
                                    style="color: #eb0707;"><code>Girls</code></span>&nbsp; <a
                                    href="W3%20Schedules - Youth/W3 2019 U 14Girls.pdf" target="_blank"
                                    rel="noopener noreferrer">W3</a></strong></span></p>
                        </td>
                        <td style="width: 178px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td class="txtl" style="width: 233.95px; text-align: center;">
                            <p><span
                                    style="font-family: Arial; font-size: x-large;"><strong>Men's Over 40 </strong></span>
                            </p>
                            <p><span style="font-family: Arial; font-size: x-large;"><strong><a
                                    href="W3%20Schedules - Adult/W3 2019 Men O 40.pdf" target="_blank"
                                    rel="noopener noreferrer">Winter 3</a><br></strong></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="txtl" style="width: 141px;">&nbsp;</td>
                        <td style="width: 178px;">&nbsp;</td>
                        <td class="txtl" style="width: 233.95px; text-align: center;">
                            <p><span style="font-family: Arial; font-size: x-large;"><strong>Mixed Over 50<br></strong></span>
                            </p>
                            <p><span style="font-size: x-large;"><a href="W3%20Schedules - Adult/W3 2019 O 50.pdf"
                                                                    target="_blank" rel="noopener noreferrer"><span
                                    style="font-family: Arial;"><strong>Winter 3</strong></span></a></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p><em>&nbsp; League schedules will be available online the first week of each session</em></p>
                <div id="cmsContentTop"><br><br style="text-align: center;"></div>