<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Field</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Game Time</th>
        <th>Game Date</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>{{ game.field }}</td>
            <td>
                <a href="{% url 'team' game.home_team.slug %}"
                   title="{{ game.home_team }}">
                    {{ game.home_team.name }}({{ game.home_team.color }})
                </a>
            </td>
            <td>
                <a href="{% url 'team' game.away_team.slug %}"
                   title="{{ game.away_team }}">
                    {{ game.away_team.name }}({{ game.away_team.color }})
                </a>
                {% if game.color_conflict %}
                    <span class="glyphicon glyphicon-flag" title="Color conflict"></span>
                {% endif %}
            </td>
            <td>{{ game.time|time:"g:i a" }}</td>
            <td>
                {{ game.time|date:"M d (l)" }}
                {% if game.is_today %}
                    <span class="glyphicon glyphicon-calendar" title="Today"></span>
                {% endif %}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
