{% extends "base.html" %}
{% load staticfiles %}

{% block masthead_title %}
    Madison Soccer
{% endblock %}
{% block masthead_subtitle %}
    Online Team Schedules for Breakway Sports
{% endblock %}

{% block content %}
    <!-- Games Grid Section -->
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="datepicker"></div>
                </div>
                <div class="col-lg-6">
                    <div id="games">
                        {% for game in games %}
                            {{ game }}
                        {% empty %}
                            <p class="lead">No games today.  :(</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Leagues Grid Section -->
    <section id="leagues" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Leagues</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for league in leagues %}
                    <div class="col-sm-6 league-item">
                        <a href="{% url 'league' %}?id={{ league.id }}" class="league-link">
                            {% if league.logo %}
                                <img src="{{ league.logo.url }}" class="img-fluid" alt="{{ league.name }}"
                                     title="{{ league.name }}">
                            {% else %}
                                {{ league.name }}
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p class="text-center">Halftime includes online soccer schedules from Madison area leagues
                        in a online format. You can sync your team's schedule to your phone,
                        Google Calendar, or other popular calendar application.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/halftime-datepicker.js' %}"></script>

    {% verbatim %}
    <script id="game-list-template" type="text/x-handlebars-template">
        <div class="games">
            {{ count }} games on this day.
                {{#each results}}
                <p>
                    {{ home_team.name }} vs. {{ away_team.name }} at {{ time }}
                </p>
                {{/each}}
        </div>
    </script>
    {% endverbatim %}
{% endblock %}