{% extends "base.html" %}
{% load staticfiles %}

{% block masthead_title %}
    Madison Soccer
{% endblock %}
{% block masthead_subtitle %}
    Online Team Schedules for Breakway Sports
{% endblock %}

{% block content %}
    <!-- Games Grid Section -->
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div id="calendar"></div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="datepicker"></div>
                </div>
                <div class="col-lg-8">
                    <div id="games"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Leagues Grid Section -->
    <section id="leagues" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Leagues</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for league in leagues %}
                    <span class="mdl-list__item mdl-list__item--two-line col-md-6">
                        <span class="mdl-list__item-primary-content">
                            {% if league.logo %}
                                <img src="{{ league.logo.url }}" class="img-fluid" alt="{{ league.name }}" title="{{ league.name }}">
                            {% endif %}
                            <span><a href="{% url 'league' %}?id={{ league.id }}">{{ league }}</a></span>
                            <span class="mdl-list__item-sub-title">{{ league.teams.count }} Teams</span>
                        </span>
                    </span>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p class="text-center">Halftime includes online soccer schedules from Madison area leagues
                        in a online format. You can sync your team's schedule to your phone,
                        Google Calendar, or other popular calendar application.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/halftime-datepicker.js' %}"></script>
    {% include "handlebars/game.hbs" %}

{% endblock %}