{% extends "base.html" %}
{% load staticfiles %}

{% block masthead_title %}
    {{ league.name }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'league' %}?id={{ league.id }}">{{ league }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!-- Teams Grid Section -->
    <section id="teams" class="content-section">
        <div class="container">
            <div class="row mt-5">
                {% for team in teams %}
                    <span class="mdl-list__item mdl-list__item--two-line col-md-6">
                        <span class="mdl-list__item-primary-content">
                            <span><a href="{% url 'team' %}?id={{ team.id }}">{{ team }}</a></span>
                            <span class="mdl-list__item-sub-title">{{ team.games.count }} Games</span>
                        </span>
                    </span>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}