{% extends "base-wordpress.html" %}
{% load staticfiles %}



{% block masthead_title %}
    {{ team.name }}
{% endblock %}
{% block masthead_subtitle %}
    Proudly sporting <u>{{ team.color|lower }}</u> jerseys.
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'league' team.league.slug %}">{{ team.league }}</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'team' team.slug %}">{{ team }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!-- Games Grid Section -->
    <section id="games" class="content-section">
        {% load webcal_tags %}

        <div class="container">
            <div class="row mb-2">
                <div class="col-12">
                    <a href="{% webcal %}?team_id={{ team.id }}"
                       class="btn btn-warning" id="subscribe-ics">Subscribe to Schedule</a>
                    <a href="http://www.google.com/calendar/render?cid={% webcal %}?team_id={{ team.id }}"
                       class="btn btn-warning" id="subscribe-google">Add to Google Calendar</a>
                </div>
            </div>
            <div class="row">
                {% include 'games.html' %}
            </div>
        </div>
    </section>
{% endblock %}